<ng-container *ngIf="article; else no_insights">

  <pn-header>{{ article.title }}</pn-header>

  <div class="insights-overview-container">

    <ng-container *ngFor="let insight of article.insights">

      <mat-card class="article-card">
        <mat-card-header class="article-card-header">
          <mat-card-title>{{ insight.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ insight.content }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color="primary" aria-label="Like and save">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </ng-container>
  </div>
</ng-container>

<ng-template #no_insights>
  <div class="no-insights-container">
    <pn-header>
      Whaaaat!? No insights!?
    </pn-header>
    <p style="text-align: center;"> Something went wrong getting the insights for this article</p>
  </div>
</ng-template>
