$flamingo: (
  50 : #ffeaef,
  100 : #ffcbd6,
  200 : #ffa9bb,
  300 : #ff879f,
  400 : #ff6d8b,
  500 : #ff5376,
  600 : #ff4c6e,
  700 : #ff4263,
  800 : #ff3959,
  900 : #ff2946,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffd6db,
  A700 : #ffbdc5,
  contrast: (
    50 : #37323E,
    100 : #37323E,
    200 : #37323E,
    300 : #37323E,
    400 : #37323E,
    500 : #FCFDFF,
    600 : #FCFDFF,
    700 : #FCFDFF,
    800 : #FCFDFF,
    900 : #FCFDFF,
    A100 : #37323E,
    A200 : #37323E,
    A400 : #37323E,
    A700 : #37323E,
  )
);

$flamingo-contrast: map-get($flamingo, contrast);
