$toxic-lake: (
  50 : #e6f7fe,
  100 : #c0ecfd,
  200 : #97e0fc,
  300 : #6dd3fb,
  400 : #4dc9fa,
  500 : #2ec0f9,
  600 : #29baf8,
  700 : #23b2f7,
  800 : #1daaf6,
  900 : #129cf5,
  A100 : #ffffff,
  A200 : #eff8ff,
  A400 : #bce3ff,
  A700 : #a2d8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$toxic-lake-contrast: map-get($toxic-lake, contrast);

