<mat-card>
  <mat-card-header>
    <mat-card-title>How To Write Clean Code That Reduces Headaches</mat-card-title>
    <mat-card-subtitle>Abstraction is evil. Code is anti-evil, and clean code is perhaps divine</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-chip-list disabled="true" aria-label="Tags">
      <mat-chip disabled="true">programming</mat-chip>
      <mat-chip disabled="true">design pattern</mat-chip>
      <mat-chip disabled="true">abstraction</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
