<pn-header>Pikno</pn-header>

<div class="articles-overview-container">

  <h2 class="mat-h2"> Today's brainfood </h2>

  <div fxLayout="row">

    <div fxFlex="50%">
      <ng-container *ngFor="let article of articles, let i = index">
        <pn-article-card *ngIf="isOdd(i)"
                         [id]="article.title.split(' ')[0].toLowerCase()"
                         [title]="article.title"
                         [subtitle]="article.subtitle"
                         [tags]="article.tags"
        ></pn-article-card>
      </ng-container>
    </div>

    <div fxFlex="50%">
      <ng-container *ngFor="let article of articles, let i = index">
        <pn-article-card *ngIf="isOdd(i+1)"
                         [id]="article.title.split(' ')[0].toLowerCase()"
                         [title]="article.title"
                         [subtitle]="article.subtitle"
                         [tags]="article.tags"
        ></pn-article-card>
      </ng-container>
    </div>

  </div>

</div>
