/* You can add global styles to this file, and also import other style files */
 @import "theme/theme";

body {
  margin: 0;
  padding: 0;
  background-color: #FCFDFF;
  /* background-image: linear-gradient(to bottom right, #FCFDFF, #BFC0C0); */
}

main {
  overflow-y: auto;
}
