.pn-footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  -webkit-box-shadow: 0px 0px 80px -50px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 80px -50px rgba(0,0,0,1);
  box-shadow: 0px 0px 80px -50px rgba(0,0,0,1);
}
